<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>permalink</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Gestione permalink per Opac</description>
    <display-name>Permalink</display-name>
    <servlet-name>Permalink</servlet-name>
    <servlet-class>servlets.Permalink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Permalink</servlet-name>
    <url-pattern>/Permalink</url-pattern>
  </servlet-mapping>
</web-app>